body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

canvas {
    max-height: 300px;
    max-width: 400px;
}

#canvas-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}